<%= form_for [:admin, @account], :html => {:class => 'nice'} do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.label :username %>
	<%= f.text_field :username, :class => 'input-text' %>
	<%= f.label :password %>
	<%= f.password_field :password, :class => 'input-text' %>
	<%= f.label :vendorid %>
	<%= f.text_field :vendorid, :class => 'input-text' %>
	<%= f.submit :class => "button blue small radius" %>
<% end %>
