<h3>Cuentas</h3>

<table>
	<thead>
  	<tr>
		  <th>Username</th>
	    <th>Password</th>
	    <th>Vendor Id</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	<% @accounts.each do |account| %>
	  <tr>
		  <td><%= account.username %></td>
	    <td><%= account.password %></td>
	    <td><%= account.vendorid %></td>
	    <td><%= link_to 'Ver', [:admin, account] %></td>
	    <td><%= link_to 'Editar', edit_admin_account_path(account) %></td>
	    <td><%= link_to 'Eliminar', [:admin, account], confirm: 'Estas seguro?', method: :delete %></td>
	  </tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Nueva Cuenta', new_admin_account_path, :class => "button blue small radius" %>
