<p>
	<b>Username:</b>
	<%= @account.username %>
</p>

<p>
	<b>Password:</b>
	<%= @account.password %>
</p>

<p>
	<b>Vendor Id:</b>
	<%= @account.vendorid %>
</p>

<%= link_to 'Editar', edit_admin_account_path(@account) %> |
<%= link_to 'Atras', admin_accounts_path %>
