<fieldset class="application">
	<h5>Nueva Applicación</h5>
	<%= builder.label :name %>
	<%= builder.text_field :name, :class => 'input-text' %>
	<%= builder.label :apple_identifier %>
	<%= builder.text_field :apple_identifier, :class => 'input-text' %>
	<%= builder.hidden_field :_destroy %>
	<%= link_to_remove_fields "Eliminar", builder %>
</fieldset>