<h3>Editar Perfil</h3>
<%= form_for @user, :html => {:class => 'nice'} do |f| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this admin_application from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

	<%= f.label :email %>
	<%= f.text_field :email, :class => 'input-text' %>
	
	<%= f.fields_for :accounts do |builder| %>
		<%= render 'account_fields', :builder => builder%>
	<% end %>
	
	<p><%= link_to_add_fields "Añadir Cuenta", f, :accounts %></p>
	
	<%= f.submit :class => "button blue small radius" %>
<% end %>