<%= form_for [:admin, @application], :html => {:class => 'nice'} do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this admin_application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.label :name %>
	<%= f.text_field :name, :class => 'input-text' %>
	<%= f.label :apple_identifier %>
	<%= f.text_field :apple_identifier, :class => 'input-text' %>
	<%= f.label :account_id, 'Cuenta' %>
	<%= f.collection_select :account_id, @accounts, :id, :vendorid, :class => "custom dropdown" %>

	
	<%= f.submit :class => "button blue small radius" %>
<% end %>
