<h3>Aplicaciones</h3>

<table>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Apple Identifier</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
		<% @applications.each do |application| %>
		  <tr>
				<td><%= application.name %></td>
				<td><%= application.apple_identifier %></td>
		    <td><%= link_to 'Ver', [:admin, application] %></td>
		    <td><%= link_to 'Editar', edit_admin_application_path(application) %></td>
		    <td><%= link_to 'Eliminar', [:admin, application], confirm: 'Estas seguro?', method: :delete %></td>
		  </tr>
		<% end %>
		</tbody>
</table>

<br />

<%= link_to 'Nueva Applicacion', new_admin_application_path, :class => "button blue small radius" %>
