<p>
	<b>Nombre:</b>
	<%= @application.name %>
</p>

<p>
	<b>Apple Identifier:</b>
	<%= @application.apple_identifier %>
</p>

<p>
	<b>Cuenta Itunes (Vendor Id):</b>
	<%= @application.account.vendorid %>
</p>

<%= link_to 'Editar', edit_admin_application_path(@application) %> |
<%= link_to 'Atras', admin_applications_path %>
