<% @applications.each do |application|%>
<div class="application">
  <b>Application:</b>
		<%= application.title %>
	</p>
	<p>
		<b>Developer:</b>
		<%= application.developer %>
	</p>
	<p>
	<p>
		<b>Version:</b>
		<%= application.version %>
	</p>

	<p>
		<b>Provider Country:</b>
		<%= humanize_country_code(application.provider_country) %>
	</p>

	<p>
		<b>Begin Date:</b>
		<%= application.begin_date %>
	</p>

	<p>
		<b>End Date:</b>
		<%= application.end_date %>
	</p>

	<p>
		<b>Product Type:</b>
		<%= humanize_product_type_identifier(application.product_type_identifier) %>
	</p>

	<p>
		<b>Units:</b>
		<%= application.units %>
	</p>

	<p>
		<b>Customer Currency:</b>
		<%= humanize_customer_currency(application.customer_currency) %>
	</p>
</div>
<% end %>