<h3>Details</h3>

<dl class="nice contained tabs">
  <dd><a href="#dayly"  class="<%= if cookies[:tab_active] == 'dayly' then 'active' end %>">Dayly</a></dd>
  <dd><a href="#weekly" class="<%= if cookies[:tab_active] == 'weekly' then 'active' end %>">Weekly</a></dd>
</dl>

<ul class="nice tabs-content contained">
  <li class="<%= if cookies[:tab_active] == 'dayly' then 'active' end %>" id="daylyTab">
    <%= form_tag details_path, :id => "consult" do %>
      <%= hidden_field_tag(:type_query, "dayly") %>
      <%= select_tag :start_date, options_for_select(@dates_from_14_days) %>
      <%= submit_tag "Buscar" %>
    <% end %>
    <%= render 'details_fields' %>
  </li>
  <li class="<%= if cookies[:tab_active] == 'weekly' then 'active' end %>" id="weeklyTab">
    <%= form_tag details_path, :id => "consult" do %>
      <%= hidden_field_tag(:type_query, "weekly") %>
      <%= select_tag :start_date, options_for_select(@dates_from_14_days) %>
      <%= submit_tag "Buscar" %>
    <% end %>
    <%= render 'details_fields' %>
  </li>
</ul>



