<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">
	     $(window).load(function() {
	         $('#featured').orbit();
	     });
	</script>
</head>
<body class="container">
			<header class="row">
				<div class="seven columns">
					<h2>ReporterApp</h2>
					<p>Estadisticas de tus aplicaciones Apple</p>
					<hr />
				</div>
				<div class="five columns">
					<div class="row">
						<div class="twelve columns">
						  <%= form_for :user, :url => user_session_path, :html => {:class => "nice login"} do |f| %>
                <%= f.text_field :email, :class => "input-text small" %>
                <%= f.password_field :password, :class => "input-text small" %>
                <%= f.submit 'Entra', :class => "button blue small radius inlined" %><br/>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                <!--<%= link_to "Olvidaste tu contraseña?", new_password_path('user') %>-->
              <% end %>
						</div>
					</div>
					<div class="row">
						<div class="twelve columns offset-by-eight">
							<%= image_tag "facebook.png", :alt => "facebook" %>
							<%= image_tag "twitter.png", :alt => "twitter" %>
						</div>
					</div>
				</div>
			</header>
		
		  <div class="row">
		  	<div class="eight columns">
						<div id="featured">
							<%= image_tag "foto1.jpg", :alt => "foto1" %>
							<%= image_tag "foto2.jpg", :alt => "foto2" %>
							<%= image_tag "foto3.jpg", :alt => "foto3" %>
						</div>
				</div>
				<div class="four columns">
					<%= form_for :user, :url => user_registration_path, :html => {:class => "nice"} do |f| %>
					<%= f.label :email %>
					<%= f.text_field :email, :class => "input-text" %>
					<%= f.label :password %>
					<%= f.password_field :password, :class => "input-text" %>
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, :class => "input-text" %>

					<%= f.submit "Registrarme", :class => "button blue small radius" %></p>
					<% end %>
				</div>
			</div>
			
			<div class="row">
				
				<div class="four columns">
					<h5>Las Mejores estadisticas</h5>
					<p>Usuario ha entregado el siguiente objeto.</p>
					<p>
						Lorem ipsum dolor sit amet.<br/>
						Phasellus venenatis semper.
					</p>
				</div>
				
				<div class="four columns">
					<h5>Informes a medida</h5>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Donec nisl nibh, pretium non dignissim vitae, feugiat vitae dolor. Mauris in sollicitudin nisl.
						Phasellus venenatis semper congue. 
					<p/>
				</div>
				
				<div class="four columns">
					<h5>Gráficas dinamica</h5>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Donec nisl nibh, pretium non dignissim vitae, feugiat vitae dolor. Mauris in sollicitudin nisl.
						Phasellus venenatis semper congue. 
					<p/>
				</div>
				
			</div>

			<footer class="row">			
				<div class="four columns">
					Footer
				</div>
			</footer>
</body>
</html>
