<fieldset>
	<h5>Nueva Cuenta IT</h5>
	<%= builder.label :username %>
	<%= builder.text_field :username, :class => 'input-text' %>
	<%= builder.label :password %>
	<%= builder.password_field :password, :class => 'input-text' %>
	<%= builder.label :vendorid %>
	<%= builder.text_field :vendorid, :class => 'input-text' %>
	<%= builder.hidden_field :_destroy %>
	<%= link_to_remove_fields "Eliminar", builder %>
	
	<%= builder.fields_for :applications do |builder| %>
		<%= render 'application_fields', :builder => builder%>
	<% end %>
	
	<p><%= link_to_add_fields "Añadir Aplicación", builder, :applications %></p>
</fieldset>