<h3>Usuarios<h3>
	
<table>
	<thead>
		<tr>
			<th>Email</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.email %></td>
				<td><%= link_to 'Ver', [:admin, user] %></td>
				<td><%= link_to 'Editar', edit_admin_user_path(user) %></td>
				<td><%= link_to 'Eliminar', [:admin, user], :confirm => 'Estas seguro?', :method => :delete %></td>		
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Nuevo usuario', new_admin_user_path, :class => "button blue small radius" %>