<p>
	<b>Email:</b>
	<%= @user.email %>
</p>

<h5>Cuentas IT</h5>
<% @user.accounts.each do |account| %>
<div style="background:#EEE">
	<p>
		<b>Vendor ID:</b>
		<%= account.vendorid %>
	</p>
	<p>
		<b>Username:</b>
		<%= account.username %>
	</p>
	<h6>Aplicaciones</h6>
	<ol>
		<% account.applications.each do |application| %>
			<li><%= application.name %></li>
		<% end %>
	</ol>
</div>		
<% end %>

<%= link_to 'Editar', edit_admin_user_path(@user) %>
<%= link_to 'Atras', admin_users_path %>