<!DOCTYPE html>
<html>
<head>
	<title>ReporterApp - Administrator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
	<div class="row">
		<div class="two columns">
			<dl class="nice vertical tabs">
			  <dd><%= link_to "Usuarios", admin_users_path %></dd>
			  <dd><%= link_to "Cuentas IT", admin_accounts_path %></dd>
			  <dd><%= link_to "Applicaciones", admin_applications_path %></dd>
			</dl>
		</div>
		<div class="ten columns">
			<%= messages_about_actions %>
			<%= yield %>
		</div>
	</div>
</body>
<html>