<!DOCTYPE html>
<html>
<head>
	<title>ReporterApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
	<div class="row">
		<div class="two columns">
			<dl class="nice vertical tabs">
			  <dd><%= link_to "Summary", summary_path %></dd>
			  <dd><%= link_to "Details", details_path %></dd>
			  <dd><%= link_to "Perfil Cuentas", edit_user_path(current_user) %></dd>
			   <dd> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </dd>
			</dl>
		</div>
		<div class="ten columns">
			<%= messages_about_actions %>
			<%= yield %>
		</div>
	</div>
</body>
<html>